/* Reset CSS */
*{
    /* Emmet - viết tất 
    p tab
    m tab
    box tab
    */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}
/* 
    Với mỗi element 
    Vị trí
    Kích thước
    Màu sắc
    Kiểu dáng, kiểu chữ
*/

.clear {
    clear: both;
}

#main {
    position: relative;
}

#header {
    /* Fix cứng header trên đầu trang */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* ----------------------------------------- */
    height: 46px;
    background-color: black;
    /* Phân biệt layer */
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    /* Bỏ định dạng của list */
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    display: inline-block;
    line-height: 46px;
    padding: 0px 24px;
}
/* Không hover vào a vì nếu có sub menu nếu đặt vào a
   + Khi hover vào sub menu màu của menu đc select sẽ mất => để vào li
*/

/* Selector gộp */
#nav .subnav li:hover a,
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav {
    position: absolute;
    /* Lấy chiều cao của thẻ cha chứa nó */
    top: 100%;
    display: none;
    background-color: white;
    min-width: 160px;
    /* 
    h-offset        Theo chiều ngang - required
    v-offset        Theo chiều dọc  - required
    blur            Độ mờ
    spread          Độ tỏa
    color           Màu của bóng đổ
    => ví dụ bên dưới đặt sãn màu rgba với độ mờ nên k cần blur
    */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .more-menu-icon{
    font-size: 20px;
}

.subnav li {
    display: block;
}

#nav .subnav a {
    display: block;
    color: black;
    padding: 0px 12px;
    line-height: 38px;
}

#header .search-btn {
    width: 70px;
    float: right;
}

#header .search-btn:hover {
    /* Chuyển pointer */
    cursor: pointer;
    background-color: red;
}

#header .search-icon {
    color: white;
    line-height: 46px;
    font-size: 24px;
    padding: 0 23px;
}


#slider {
    /* Đẩy slider xuống dưới để không ăn vào phần của header */
    margin-top: 46px;
    /* Nếu giá trị ăn theo phần trăm là lấy theo chiều ngang */
    padding-top: 50%;
    background-image: url('/assets/img/slider_1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*
    short hand 
    background: url('/assets/img/slider_1.jpg') top center / cover no-repeat; 
    */
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    /* Căn giữa cho text */
        /* Căn theo position */
    /* 
    left: 50%;
    transform: translateX(-50%); 
    */
        /* Mở theo chiều ngang để content tràn với width */
    width: 100%;
        /* ép đều sang 2 bên */
    /* 
    left: 0;
    right: 0; 
    */
    text-align: center;
    /* --------------------------------- */
}

#slider .text-heading {
    /* Độ dày chữ */
    font-weight: 700;
    font: 24px;
}

#slider .text-desciption {
    font: 15px;
    margin-top: 25px;
}

#content {

}

#content .content-section{
    width: 800px;
    /* Đẩy sang trái và phải 1 khoảng auto => Căn giữa */
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    /* không nên sử dụng - làm 1 thẻ div đặt clear both vào */
    /* clear: both; */
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    /* khoảng cách giữa các ký tự */
    letter-spacing: 4px;
    text-transform: uppercase;
}

#content .section-subheading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    /* độ mờ */
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    /* căn đều 2 bên */
    text-align: justify;
    /* Tiếng Anh 1.4 - Tiếng Việt 1.6 */
    line-height: 1.4;
}

#content .about-team {
    margin-top: 47px;
}

#content .about-team-member {
    float: left;
    width: calc(100%/3);
    /* Căn được cả ảnh và text */
    text-align: center;    

}

#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member-img {
    width: 60%;
    /* margin-left: 20%;
    margin-right: 20%; */
}

#content .tour-dates {
    width: 100%;
    color: white;
    background-color: black;
}

#content ul.tour-months {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin-top: 40px;
    list-style: none;
}

#content li.tour-month{
    margin: 0 17px;
    /* line-height: 40px; dùng line height ko ra được border */
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: 1px solid #333;
    color: black;
    background-color: white;
}

.tour-month .sold-out {
    background-color: red;
    color: white;
    padding: 4px 3px;
    margin-left: 16px;
}

.tour-month .quantity {
    float: right;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    /* chỉ sử dụng khi có float */
    margin-top: -2px;
}

.tour-locations{
    /* background-color: white; */
    padding-top: 32px;
    padding-bottom: 32px;
}

.place-item {
    /* background-color: white; */
    float: left;
    width: calc(100%/3);
    padding: 0px 16px;
}

.place-item img {
    width: 100%;
} 

.place-info {
    background-color: white;
    color: black;
    width: 100%;
    padding: 17px 16px;
    font-size: 15px;
}

.place-info .place-time {
    margin: 16px 0px;
    color: #ccc;
}

.place-info .place-decs {
    margin: 16px 0px;
}

.place-info .btn-buy-ticket {
    /* margin: 16px 0px; */
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
}

.place-info .btn-buy-ticket:hover {
    background-color: #ccc;
    color: #000;
}
#Footer {

}